Repository calmery/camera.calmery.moe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write"
}

Next.js の設定ファイルに型を付ける
  next.config.ts
Due: eslint --fix, prettier --write

@next/bundle-analyzer の追加、さらに webpack 5 を使うように変更する
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

開発中は esbuild-loader を使用するように変更する
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

esbuild と webpack を追加する
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Dependabot の設定ファイルを更新する
  .github/dependabot.yml
Due: prettier --write

Dockerfile、docker-compose.yml を削除する
  Dockerfile
  docker-compose.yml
Due: prettier --write

@tailwindcss/jit を使うように変更する
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --write

Next.js の webpack5 を false に、型定義に使用する webpack もバージョンを 4 に変更する
  .github/dependabot.yml
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

tailwindcss を 2.0.4 にアップデートする
  package-lock.json
  package.json
Due: prettier --write

@calmery-chan/eslint-config を使うように変更する
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

パッケージをアップデートする
  package-lock.json
  package.json
Due: prettier --write

@prisma/cli を追加する
  package-lock.json
  package.json
Due: prettier --write

`npx prisma init` を実行、DATABASE_URL を設定する
  .env.local.default
  prisma/schema.prisma
Due: none

User テーブルを追加する
  package-lock.json
  package.json
  prisma/migrations/20210326141051_add_user/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prettier --write

npm でこのリポジトリをインストール、`npx camera` で起動できるようにする
  bin/camera.js
  next.config.ts
  package.json
Due: eslint --fix, prettier --write

リポジトリ名を calmery-chan/camera.calmery.moe から calmery-chan/camera に変更する
  package-lock.json
  package.json
Due: prettier --write

Revert "リポジトリ名を calmery-chan/camera.calmery.moe から calmery-chan/camera に変更する"
  package-lock.json
  package.json
Due: prettier --write

Revert "npm でこのリポジトリをインストール、`npx camera` で起動できるようにする"
  bin/camera.js
  next.config.ts
  package.json
Due: eslint --fix, prettier --write

パッケージのアップデート、Tailwind CSS の 設定ファイルを変更する
  next.config.ts
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write

サイトマップを生成できるようにする
  .gitignore
  package-lock.json
  package.json
  scripts/generate-sitemap.js
Due: prettier --write

`npm run build` でサイトマップを生成するように変更する
  package.json
Due: prettier --write

パッケージをアップデートする
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

Node.js のバージョンを v14.16.1 に変更する
  .github/workflows/build-and-lint.yml
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
  .node-version
Due: prettier --write

Next.js の future を全て true にする
  next.config.ts
Due: eslint --fix, prettier --write

README.md を追加する
  README.md
Due: prettier --write

Jest を実行できるようにする
  jest.config.ts
  jest/setupTests.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

GitHub Actions で Jest を実行できるようにする
  .github/workflows/build-lint-and-test.yml
  README.md
Due: prettier --write

Jest でも `~` でファイルを参照できるように、setupTests.js をリネームする
  jest.config.ts
  jest.setup.js
Due: eslint --fix, prettier --write

next/router をモックする
  __mocks__/next/router.js
Due: none

ページのスナップショットを追加する
  src/pages/__snapshots__/index.spec.tsx.snap
  src/pages/__snapshots__/studio.spec.tsx.snap
  src/pages/index.spec.tsx
  src/pages/studio.spec.tsx
Due: eslint --fix, prettier --write

pages 内にある `_` から始まるファイルを coverage の対象に含めないようにする
  jest.config.ts
Due: eslint --fix, prettier --write

ルートディレクトリに存在する設定ファイルを coverage の対象に含めないようにする
  jest.config.ts
Due: eslint --fix, prettier --write

テストを全て __tests__ フォルダに移動する
  __tests__/pages/__snapshots__/index.spec.tsx.snap
  __tests__/pages/__snapshots__/index.test.tsx.snap
  __tests__/pages/__snapshots__/studio.spec.tsx.snap
  __tests__/pages/__snapshots__/studio.test.tsx.snap
  __tests__/pages/index.test.tsx
  __tests__/pages/studio.test.tsx
Due: eslint --fix, prettier --write

スナップショットを更新する
  __tests__/pages/__snapshots__/index.spec.tsx.snap
  __tests__/pages/__snapshots__/studio.spec.tsx.snap
Due: none

README.md に puma を使用した開発方法を追加する
  README.md
Due: prettier --write

corepack を使用するように変更、さらに README を更新する
  README.md
  package.json
Due: prettier --write
