Repository calmery/camera.calmery.moe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

パッケージをアップデートする
  package-lock.json
  package.json
Due: prettier --write

experimental の値を修正する
  next.config.ts
Due: eslint --fix, prettier --write

GitHub Actions で npm の 7.11.2 を使うようにする
  .github/workflows/build-lint-and-test.yml
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
Due: prettier --write

Heroku を Free プランに変更したためアクセス時にリクエストを投げてサーバを起動する
  src/pages/index.tsx
Due: eslint --fix, prettier --write

husky の設定ファイルを新しくする
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: prettier --write

ファイルやパッケージを整理する
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/build-and-lint.yml
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  __mocks__/next/router.js
  __tests__/pages/__snapshots__/index.test.tsx.snap
  __tests__/pages/__snapshots__/studio.test.tsx.snap
  __tests__/pages/index.test.tsx
  __tests__/pages/studio.test.tsx
  jest.config.ts
  jest.setup.js
  next.config.ts
  package-lock.json
  package.json
  src/pages/api/hello.ts
Due: eslint --fix, prettier --write

GitHub Actions の `npm ci` の処理をまとめる
  .github/workflows/build-and-lint.yml
Due: prettier --write

Tailwind CSS 周りの設定やコードを整理する
  postcss.config.js
  src/components/Head.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

GitHub Actions が正しく動作するように修正する
  .github/workflows/build-and-lint.yml
Due: prettier --write

Tailwind CSS の `darkMode` を `class` に設定する
  tailwind.config.js
Due: none

`fs` が原因でデプロイに失敗する問題を修正する
  next-env.d.ts
  next.config.ts
Due: eslint --fix, prettier --write

Tailwind CSS、`NODE_ENV` が `production` 以外のときにのみ `mode` を `jit` にする
  tailwind.config.js
Due: none

Sitemap を生成しないようにする
  .gitignore
  package-lock.json
  package.json
  scripts/generate-sitemap.js
Due: prettier --write

`aleph init` を実行する
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  api/counter/[action].ts
  api/counter/index.ts
  app.tsx
  components/logo.tsx
  import_map.json
  lib/useCounter.ts
  pages/index.tsx
  public/logo.svg
  style/index.css
  vercel.json
Due: eslint --fix, prettier --write

ソースコードを src フォルダに移動する
  import_map.json
  src/api/counter/[action].ts
  src/api/counter/index.ts
  src/components/logo.tsx
  src/lib/useCounter.ts
  src/pages/index.tsx
  src/style/index.css
Due: eslint --fix, prettier --write

不要なファイルを削除する
  app.tsx
  vercel.json
Due: eslint --fix, prettier --write

gibo を使用して .gitignore を作り直す
  .gitignore
Due: none

.gitignore に dist フォルダを追加する
  .gitignore
Due: none

.vscode/settings.json に `files.exclude` を追加、.aleph と dist フォルダを非表示にする
  .vscode/settings.json
Due: prettier --write

deno.json を追加、`deno fmt` と `deno lint` のためのルールを追加する
  deno.json
Due: prettier --write

`deno fmt` を実行する
  .vscode/extensions.json
  src/api/counter/[action].ts
  src/api/counter/index.ts
  src/components/logo.tsx
  src/lib/useCounter.ts
  src/pages/index.tsx
Due: eslint --fix, prettier --write

.editorconfig を追加する
  .editorconfig
  .vscode/extensions.json
Due: prettier --write

GitHub Actions で `aleph build` と `deno lint` を実行する
  .github/workflows/build-and-lint.yml
Due: prettier --write

import_map.json から `scopes` を削除する
  import_map.json
Due: prettier --write

VSCode でファイル保存時にコードを整形する
  .vscode/settings.json
Due: prettier --write

velociraptor を使用する
  .github/workflows/build-and-lint.yml
  scripts.json
Due: prettier --write

aleph を v0.3.0-beta.17 にアップデートする
  .github/workflows/build-and-lint.yml
  import_map.json
Due: prettier --write

aleph.config.ts を追加、`build` の `target` と `i18n` を設定する
  aleph.config.ts
  import_map.json
Due: eslint --fix, prettier --write

Prisma を使用するために package.json などを追加する
  .gitignore
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

VSCode で node_modules を非表示にする
  .vscode/settings.json
Due: prettier --write

public フォルダの不要なファイルを削除する
  public/.keep
  public/logo.svg
Due: none

`aleph build` に失敗するため aleph.config.ts の `build.target` を `es2020` に変更する
  aleph.config.ts
Due: eslint --fix, prettier --write

Revert "VSCode で node_modules を非表示にする"
  .vscode/settings.json
Due: prettier --write

Revert "Prisma を使用するために package.json などを追加する"
  .gitignore
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

VSCode で .github を非表示にする
  .vscode/settings.json
Due: prettier --write

vercel.json を元に戻す
  vercel.json
Due: prettier --write

api フォルダを移動する
  .gitignore
  api/counter/[action].ts
  api/counter/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{json,md,yml})
