Repository calmery/camera.calmery.moe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write"
}

package.json の内容をアルファベット順に並び替える
  package.json
Due: prettier --write

`.js` → `.tsx`、TypeScript を使えるようにする
  next-env.d.ts
  package-lock.json
  package.json
  pages/_app.js
  pages/index.js
  pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

pages フォルダを src フォルダ内に移動する
  src/pages/index.tsx
Due: eslint --fix, prettier --write

TypeScript の設定を変更する
  tsconfig.json
Due: prettier --write

VSCode でファイルを保存したときに自動でフォーマットされるようにする
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

VSCode で node_modules 内の TypeScript を使うようにする
  .vscode/settings.json
Due: prettier --write

EditorConfig の設定を追加する
  .editorconfig
  .vscode/extensions.json
Due: prettier --write

コミットしたときに ESLint と Prettier を実行する
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

空の .env.example を追加する
  .env.example
Due: none

GitHub Actions で `npm run build` と `npm run lint` を実行する
  .github/workflows/build-and-lint.yaml
  package-lock.json
  package.json
Due: prettier --write

`npm run lint` で `next lint` と `prettier` を実行する
  package-lock.json
  package.json
Due: prettier --write

Prettier でコードを整える
  .eslintrc.json
  .vscode/settings.json
  next-env.d.ts
  next.config.js
  src/pages/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

GitHub Actions で使用する Ubuntu のバージョンを 22.04 にする
  .github/workflows/build-and-lint.yaml
Due: none

`npm run upgrade-interactive` を追加、パッケージを手動でアップデートしやすくする
  package-lock.json
  package.json
Due: prettier --write

ESLint の設定を変更、`next lint` が正しく動作していなかった問題を修正する
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

コミットするときに `.yaml` も Prettier の対象にする
  .lintstagedrc.json
Due: prettier --write

LICENSE.md を追加する
  LICENSE.md
Due: prettier --write

.prettierignore を追加する
  .prettierignore
  package.json
Due: prettier --write

LICENSE.md → LICENSE
  LICENSE
Due: none

package.json に `license` を追加する
  package.json
Due: prettier --write

Tailwind CSS を使えるようにする
  .vscode/extensions.json
  package-lock.json
  package.json
  postcss.config.js
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write

GitHub の Issue と Pull Request のテンプレートを追加する
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

classnames を追加する
  package-lock.json
  package.json
Due: prettier --write

FUNDING.yaml を追加する
  .github/FUNDING.yaml
Due: none

CI が落ちる問題を修正する
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

README.md を追加する
  README.md
Due: prettier --write

LICENSE → LICENSE.md
  LICENSE.md
Due: prettier --write

Revert "LICENSE → LICENSE.md"
  LICENSE
Due: none

eslint-plugin-classnames を追加する
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

画面上の領域を分割する
  src/pages/index.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

画面全体に `user-select: none;` を設定する
  src/styles/globals.css
Due: none

画面をリサイズしたときに正しく要素サイズを取得できるようにする
  src/components/Canvas.tsx
  src/components/Canvas/ResizableContainer.tsx
  src/pages/index.tsx
  src/types/Rect.ts
Due: eslint --fix, prettier --write

svg のはみ出し表示を許可、はみ出し部分をボカす
  src/components/Canvas.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

既存の要素をコンポーネントに分割する
  src/components/Canvas.tsx
  src/components/Canvas/ResizableContainer.tsx
  src/components/Navigation.tsx
  src/components/Toolbar.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

全体で使用するデフォルトのフォントを設定する
  src/styles/globals.css
Due: none

Tailwind CSS で使用するフォントサイズと `backdrop-blur` の設定を上書きする
  tailwind.config.js
Due: none

翻訳表示に対応する
  .eslintrc.json
  next.config.js
  package-lock.json
  package.json
  src/hooks/useI18n.ts
  src/libs/i18n.ts
  src/libs/i18n/en.ts
  src/libs/i18n/ja.ts
Due: eslint --fix, prettier --write

パッケージをアップデートする
  package-lock.json
  package.json
Due: prettier --write
