Repository calmery/camera.calmery.moe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Tailwind CSS を使えるようにする
  aleph.config.ts
  import_map.json
  plugins/tailwindcss.ts
  src/pages/index.tsx
  src/style/index.css
  src/styles/tailwind.css
Due: eslint --fix, prettier --write

Emotion を使えるようにする
  import_map.json
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Tailwind CSS のプラグインをリファクタリングする
  aleph.config.ts
  import_map.json
  plugins/tailwindcss.ts
  src/components/.keep
  src/components/logo.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

api フォルダを src フォルダ内に戻す
  .gitignore
  src/api/counter/[action].ts
  src/api/counter/index.ts
  vercel.json
Due: eslint --fix, prettier --write

`aleph build` に失敗する問題を修正する
  plugins/tailwindcss.ts
Due: eslint --fix, prettier --write

GitHub Actions で一時ファイルの読み込みに失敗するため、CI では Tailwind CSS をビルドに含めないように変更する
  plugins/tailwindcss.ts
Due: eslint --fix, prettier --write

Revert "GitHub Actions で一時ファイルの読み込みに失敗するため、CI では Tailwind CSS をビルドに含めないように変更する"
  plugins/tailwindcss.ts
Due: eslint --fix, prettier --write

Revert "VSCode で .github を非表示にする"
  .vscode/settings.json
Due: prettier --write

public フォルダは不要のため削除する
  public/.keep
Due: none

GitHub Actions で Tailwind CSS をインストールした後に `vr build` するように変更する
  .github/workflows/build-and-lint.yml
Due: prettier --write

`tailwindcss` を package.json で管理する
  .github/workflows/build-and-lint.yml
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  plugins/tailwindcss.ts
Due: eslint --fix, prettier --write

Deno や Node.js、npm のバージョンを固定する
  .github/workflows/build-and-lint.yml
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

GitHub の Issue や Pull Request のテンプレートを追加する
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Tailwind CSS の初回ビルドに失敗する問題を修正する
  plugins/tailwindcss.ts
Due: eslint --fix, prettier --write

Emotion のプラグインを仮実装する
  .vscode/settings.json
  aleph.config.ts
  import_map.json
  plugins/emotion.ts
  src/pages/index.tsx
Due: eslint --fix, prettier --write

コメントを追加する
  plugins/emotion.ts
Due: eslint --fix, prettier --write

Emotion を SSR できるようにする
  .gitignore
  aleph.config.ts
  bundle.js/main.js
  package-lock.json
  package.json
  plugins/emotion.ts
  plugins/emotion/entries/pages/.keep
  plugins/emotion/mock.js
  plugins/emotion/output/pages/.keep
  plugins/emotion/webpack.config.js
  plugins/tailwindcss.ts
  src/pages/index.tsx
Due: eslint --fix, prettier --write

@calmery-chan/aleph-plugin-emotion を使うように変更する
  .gitignore
  aleph.config.ts
  bundle.js/main.js
  package-lock.json
  package.json
  plugins/emotion.ts
  plugins/emotion/entries/pages/.keep
  plugins/emotion/mock.js
  plugins/emotion/output/pages/.keep
  plugins/emotion/webpack.config.js
Due: eslint --fix, prettier --write

node_modules を `deno fmt` などの対象から外す
  deno.json
Due: prettier --write

@calmery-chan/aleph-plugin-tailwindcss を使うように変更する
  aleph.config.ts
  package-lock.json
  package.json
  plugins/tailwindcss.ts
Due: eslint --fix, prettier --write

@calmery-chan/aleph-plugin-emotion のバージョンを 1.1.1 にする
  import_map.json
  package-lock.json
  package.json
  src/app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

`deno.suggest.imports.hosts` を削除する
  .vscode/settings.json
Due: prettier --write

src フォルダ内の不要なコードを削除する
  src/api/counter/[action].ts
  src/api/counter/index.ts
  src/app.tsx
  src/lib/useCounter.ts
  src/styles/tailwind.css
Due: eslint --fix, prettier --write

@calmery-chan/aleph-plugin-tailwindcss のバージョンを 1.1.0 にする
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write

@calmery-chan/aleph-plugin-tailwindcss を deno.land/x/ から使う
  aleph.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Vercel に api フォルダを含むデプロイを行うために components や pages フォルダを src フォルダの外に出す
  .gitignore
  api/upload.ts
  components/.keep
  deno.json
  import_map.json
  pages/index.tsx
  tailwind.config.js
  utils/cloudinary.ts
  vercel.json
Due: eslint --fix, prettier --write

VSCode で開発に直接必要のないファイルを一時的に非表示にする
  .vscode/settings.json
Due: prettier --write

Serverless Function のためのヘルパー関数を追加する
  api/upload.ts
  utils/api.ts
  utils/cloudinary.ts
Due: eslint --fix, prettier --write

import_map.json から不要なパッケージを削除する
  import_map.json
Due: prettier --write

ファイルの形式とサイズに制限を追加する
  api/upload.ts
Due: eslint --fix, prettier --write

`restful` 関数内の `async` と `await` を削除する
  utils/api.ts
Due: eslint --fix, prettier --write

@calmery-chan/aleph-plugin-emotion のバージョンを 2.0.0 にする
  aleph.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

`status` を関数にする
  api/upload.ts
  utils/api.ts
Due: eslint --fix, prettier --write

Redux を使えるようにする
  app.tsx
  features/example/actions.ts
  features/example/reducers.ts
  features/hooks.ts
  features/store.ts
  import_map.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

.gitignore を追加する
  .gitignore
Due: none

`create-next-app` でファイルを生成する
  .eslintrc.json
  README.md
  next.config.js
  package-lock.json
  package.json
  pages/_app.js
  pages/api/hello.js
  pages/index.js
  public/favicon.ico
  public/vercel.svg
  styles/Home.module.css
  styles/globals.css
Due: prettier --write

不要なファイルを削除する
  README.md
  pages/api/hello.js
  public/favicon.ico
  public/vercel.svg
  styles/Home.module.css
  styles/globals.css
Due: prettier --write

.npmrc を追加、`save-exact` オプションを有効にする
  .npmrc
Due: none

Node.js と npm のバージョンを指定、package-lock.json を生成し直す
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{json,md,yml})
