Repository calmery/camera.calmery.moe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.{json,md,yml}": "prettier --write"
}

src/styles を削除、Emotion を使えるようにする
  .babelrc
  next-env.d.ts
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/Home.module.css
  src/styles/globals.css
Due: eslint --fix, prettier --write

Tailwind CSS を使えるようにする
  package-lock.json
  package.json
  postcss.config.js
  src/pages/_app.tsx
  src/pages/index.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

.github/FUNDING.yml を追加する
  .github/FUNDING.yml
Due: prettier --write

Dependabot の設定ファイルを追加する
  .github/dependabot.yml
Due: prettier --write

vercel.json を追加、trailingSlash を false にする
  vercel.json
Due: prettier --write

VSCode で使用する TypeScript は node_modules 内のものを参照するように変更する
  .vscode/settings.json
Due: prettier --write

Issue と Pull Request のテンプレートを追加する
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

GitHub Actions で `npm run build` と `npm run lint` を実行する
  .github/workflows/build-and-lint.yml
Due: prettier --write

@babel/core を追加、GitHub Actions から Vercel にデプロイできるようにする
  .github/workflows/deploy-to-preview.yml
  .github/workflows/deploy-to-production.yml
  package-lock.json
  package.json
Due: prettier --write

LICENSE を追加する
  LICENSE
Due: none

開発環境でのみ動作する /studio ページを追加する
  src/pages/studio.tsx
Due: eslint --fix, prettier --write

next.config.js を追加する
  next.config.js
Due: none

`~` で src フォルダを参照できるようにする
  next.config.js
  tsconfig.json
Due: prettier --write

Sentry にエラーの内容を送信できるようにする
  .env.local.default
  next.config.js
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/utils/sentry.ts
Due: eslint --fix, prettier --write

build と start を削除、dev を watch に変更する
  package.json
Due: prettier --write

VERCEL_ENV に関するコメントを追加する
  next.config.js
Due: none

.env.local.default から VERCEL_ENV を削除する
  .env.local.default
Due: none

Sentry にソースマップをアップロードできるようにする
  .env.local.default
  next.config.js
Due: none

npm-scripts、build を元に戻す
  package.json
Due: prettier --write

Sentry にソースマップをアップロードできるようにする
  .env.local.default
  next.config.js
  package-lock.json
  package.json
Due: prettier --write

Docker を使って開発環境を立ち上げられるようにする
  Dockerfile
  docker-compose.yml
Due: prettier --write

next-translate を追加、i18n に対応する
  i18n.json
  locales/en/common.json
  locales/ja/common.json
  next.config.js
  package-lock.json
  package.json
  src/pages/studio.tsx
Due: eslint --fix, prettier --write

locales/ja/common.json から型を生成、t 関数のキーに型を付ける
  src/hooks/useTranslation.ts
  src/pages/studio.tsx
Due: eslint --fix, prettier --write

next.config.js を削除する
  next.config.js
Due: none

next.config.ts を追加する
  next.config.ts
Due: eslint --fix, prettier --write

.gitignore に next.config.js を追加する
  .gitignore
Due: none

Parcel を追加、next.config.ts から next.config.js を生成する
  package-lock.json
  package.json
Due: prettier --write

rosetta を使って翻訳データを参照できるようにする
  i18n.json
  locales/en/common.json
  locales/ja/common.json
  next.config.ts
  package-lock.json
  package.json
  src/components/Link.tsx
  src/hooks/useTranslation.ts
  src/locales/en.ts
  src/locales/index.ts
  src/locales/ja.ts
  src/pages/studio.tsx
Due: eslint --fix, prettier --write

翻訳ファイルを JSON にする
  src/locales/en.json
  src/locales/en.ts
  src/locales/index.ts
  src/locales/ja.json
  src/locales/ja.ts
Due: eslint --fix, prettier --write

next.config.ts、target を serverless にする
  next.config.ts
Due: eslint --fix, prettier --write

module.exports を export default に置き換える
  next.config.ts
Due: eslint --fix, prettier --write

canonical 属性を設定する
  .env.local.default
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

Origin 取得の処理を関数にする
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

react/prop-types を off にする
  .eslintrc.json
Due: prettier --write

Head を別コンポーネント化、Origin を環境変数から読み込む
  .env.local.default
  src/components/Head.tsx
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

NEXT_PUBLIC 付きの環境変数を削除、next.config.js の env を指定して参照できるようにする
  .env.local.default
  next.config.ts
  src/components/Head.tsx
  src/utils/sentry.ts
Due: eslint --fix, prettier --write

README.md を削除する
  README.md
Due: prettier --write

パッケージをアップデートする
  package-lock.json
  package.json
Due: prettier --write

eslint-import-resolver-custom-alias を eslint-import-resolver-typescript に置き換える
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write
